.about {
  text-align: center;
  padding-bottom: 136px;
  max-width: 1210px;

  @media (max-width: $desktop-width) {
    padding-bottom: 50px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 57px;
  }
}

.about > h2 {
  @include text(30px, 30px, 600);
  letter-spacing: -0.005em;
  color: $basic_grey;
  margin-top: 0;
  margin-bottom: 50px;

  @media (max-width: $desktop-width) {
    @include text(24px, 41px, 600);
    margin-bottom: 33px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.about__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  counter-reset: section;

  @media (max-width: $desktop-width) {
    row-gap: 45px;
    column-gap: 45px;
  }

  @media (max-width: $tablet-width) {
    row-gap: 39px;
  }
}

.about__item {
  position: relative;
  width: 25%;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 50px;

  @media (max-width: $desktop-width) {
    width: 250px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-bottom: unset;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.about__item::before {
  @include text(28px, 38px, 700);
  @include pseudo($display: block, $pos: relative, $content: "0"counter(section));

  height: 52px;
  margin: 0 auto;
  counter-increment: section;
  letter-spacing: -1.28px;
  color: $basic_color;

  @media (max-width: $tablet-width) {
    height: 53px;
  }
}

.about__item:last-child > p {
  @media (max-width: $tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about__item > p {
  @include text(22px, 34px, 400);
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    @include text(18px, 34px, 400);
  }
}
