.contacts {
  text-align: center;
}

.contacts__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 90px;
  padding-top: 39px;
  padding-bottom: 98px;

  @media (max-width: $desktop-width) {
    padding-top: 20px;
    padding-bottom: 53px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 31px;
    padding-bottom: 51px;
    gap: 23px;
  }
}

.contacts__link {
  @include text(16px, 22px, 400);
  color: $medium_black;
  text-decoration: none;
  padding-left: 15px;
}

.contacts__img {
  vertical-align: middle;
}

.contacts__img--tel {
  fill: transparent;
}
