.form {
  @media (max-width: $desktop-width) {
    @include push--auto;
  }

  @media (max-width: $tablet-width) {
    margin: unset;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.form > p {
  @include text(17px, 28px, 600);
  letter-spacing: -0.005em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  width: 327px;

  @media (max-width: $desktop-width) {
    @include text(18px, 28px, 600);
    color: $basic_black;
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form__wrapper > div {
  @include text(15px, 24px, 400);
  color: $form_text;
  margin-top: 0;
  margin-bottom: 20px;
}

.form__row > input {
  min-height: 48px;
  width: 327px;
  padding-top: 3px;
  padding-left: 30px;
  border: 1px solid $border_color;
  border-radius: 6px;
  outline: none;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding-left: 24px;
  }
}

.form__row > input:hover {
  border: 2px solid $medium_black;
  cursor: pointer;
}

.form__row > input:focus {
  border: 2px solid $light_black;
  cursor: pointer;
}

.form__row > input:invalid {
  border: 2px solid red;
}

.form__button {
  @include text(15px, 21px, 600);
  min-height: 51px;
  width: 328px;
  color: $basic_black;
  background: $basic_color;
  border-radius: 6px;
  border: none;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.form__button:hover {
  border: 2px solid $basic_black;
  cursor: pointer;
}
