.info {
  color: $basic_white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 170px;
  padding-top: 260px;
  padding-bottom: 370px;
  width: 878px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 132px;
    width: 100%;
    @include push--auto;
    padding-top: 64px;
    padding-bottom: 70px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    gap: 122px;
  }
}

.info__wrapper {
  width: 380px;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.info__header {
  @include text(46px, 64px, 700);
  letter-spacing: -0.005em;
  margin-top: 47px;
  margin-bottom: 24px;

  @media (max-width: $desktop-width) {
    @include text(30px, 42px, 700);
    margin-bottom: 19px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 33px;
  }
}

.info__slogan {
  @include text(20px, 32px, 300);
  letter-spacing: -0.005em;
  color: $light_grey;

  @media (max-width: $desktop-width) {
    @include text(18px, 32px, 300);
    padding-left: 160px;
    padding-right: 160px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
