.info {
  color: $basic_white;
  padding-top: 323px;
  padding-bottom: 240px;
  margin-top: -63px;
  // background-color: $basic_grey;
  background-image: url("../img/main-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-background-desktop-2x.jpg");
  }

  @media (max-width: $desktop-width) {
    padding-top: unset;
    margin-top: -24px;
    text-align: center;
    background-image: unset;
    padding-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 70px;
  }
}

.info__container {
  width: 878px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 170px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $tablet-width) {
    gap: 52px;
  }
}

.info__wrapper {
  width: 380px;

  @media (max-width: $desktop-width) {
    width: 100%;
    min-height: 340px;
    padding-top: 88px;
    padding-bottom: 61px;
    background-image: url("../img/main-background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-tablet-2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 70px;
    background-image: url("../img/main-background-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-mobile-2x.jpg");
    }
  }
}

.info__wrapper > h1 {
  @include text(46px, 64px, 700);
  letter-spacing: -0.005em;
  margin-top: 47px;
  margin-bottom: 24px;

  @media (max-width: $desktop-width) {
    @include text(30px, 42px, 700);
    margin-bottom: 19px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.info__wrapper > p {
  @include text(20px, 32px, 300);
  letter-spacing: -0.005em;
  color: $light_grey;

  @media (max-width: $desktop-width) {
    @include text(18px, 32px, 300);
    padding-left: 160px;
    padding-right: 160px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
