.page {
  font-family: $main-font;
  color: $basic_black;
  background-color: $basic_white;
  margin: 0;
  background-image: url("../img/main-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-background-desktop-2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/main-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-tablet-2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/main-background-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-mobile-2x.jpg");
    }
  }
}

.page__header {
  width: 880px;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.page__logo {
  position: absolute;
  top: 318px;

  @media (max-width: $desktop-width) {
    position: relative;
    top: 25px;
    left: 21px;
  }
}
