.page {
  height: 100%;
  font-family: $main-font;
  color: $basic_black;
  background-color: $basic_white;
  margin: 0;
}

.page__header {
  width: 880px;
  position: relative;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.page__logo {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    position: relative;
    top: 25px;
    left: 21px;
  }

  @media (max-width: $tablet-width) {
    left: 17px;
  }
}

.page__hidden {
  display: none;
}

.page__footer {
  max-width: 957px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
