.site-list {
  list-style: none;
  border-bottom: 1px solid $grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 20px;
  margin: 0;
}

.main-nav__opened .site-list {
  @media (max-width: $desktop-width) {
    @include pseudo($display: block, $pos: relative, $content: "");
    top: -24px;
    border: none;
    background-color: $basic_white;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 3;
  }
}

.site-list__item {
  @media (max-width: $desktop-width) {
    min-height: 60px;
    width: 100%;
    background-color: $background_mobile;
    margin-bottom: 30px;
    vertical-align: middle;
    padding-left: 16px;
    padding-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__opened .site-list__item {
  @media (max-width: $desktop-width) {

    &::after {
      @include pseudo($display: inline-block, $pos: relative, $content: '');
      top: 10px;
      right: 24.6px;
      width: 7.4px;
      height: 7.4px;
      border-top: 1px solid $arrow_color;
      border-right: 1px solid $arrow_color;
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.site-list__link {
  @include text(16px, 32px, 300);
  text-decoration: none;
  color: $light_grey;

  @media (max-width: $desktop-width) {
    @include text(20px, 28px, 400);
    color: $medium_black;
  }
}
