.types {
  text-align: center;
  background-color: $background_color;
  padding-top: 149px;
  padding-bottom: 167px;

  @media (max-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 12px;
  }
}

.types_wrapper {
  max-width: 1128px;
}

.types__title {
  @include text(30px, 30px, 600);
  letter-spacing: -0.005em;
  color: $basic_grey;
  margin-top: 0;
  margin-bottom: 51px;

  @media (max-width: $desktop-width) {
    @include text(24px, 41px, 600);
    margin-bottom: 31px;
  }
}

.types__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;

  @media (max-width: $desktop-width) {
    gap: 7%;
  }
}

.types__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  z-index: 1;

  @media (max-width: $desktop-width) {
    width: 270px;
  }
}

.types__item--road {
  position: relative;
  top: 10px;

  @media (max-width: $desktop-width) {
    top: unset;
  }
}

.types__item--mountain {
  position: relative;
  top: 40px;

  @media (max-width: $desktop-width) {
    top: unset;
  }
}

.types__item::before,
.types__item::after {
  @include pseudo($display: block, $pos: absolute, $content: "");
}

.types__item--road::before {
  width: 180px;
  height: 180px;
  bottom: 305px;
  left: -59px;
  z-index: -1;
  border: 27px solid $basic_color;
  border-radius: 50%;

  @media (max-width: $desktop-width) {
    width: 127px;
    height: 127px;
    bottom: 76px;
    left: -38px;
    border: 18px solid $basic_color;
  }

  @media (max-width: $tablet-width) {
    bottom: 68px;
    left: -25px;
  }
}

.types__item--child::before {
  width: 95px;
  height: 95px;
  top: -5%;
  right: -35px;
  z-index: 0;
  border: 17px solid $basic_color;
  border-radius: 50%;

  @media (max-width: $desktop-width) {
    width: 68px;
    height: 68px;
    border: 13px solid $basic_color;
    right: -25px;
  }

  @media (max-width: $tablet-width) {
    right: -15px;
  }
}

.types__item--mountain::before,
.types__item--mountain::after {
  width: 47px;
  height: 47px;
  border: 8px solid $basic_color;

  @media (max-width: $desktop-width) {
    border: none;
  }
}

.types__item--mountain::before {
  top: -18px;
  left: -20px;
}

.types__item--mountain::after {
  bottom: 53px;
  right: -25px;
}

.types__text {
  @include text(22px, 34px, 600);
  letter-spacing: -0.5px;
  order: 2;
  color: $basic_black;

  @media (max-width: $desktop-width) {
    margin-top: 18px;
    margin-bottom: 49px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 19px;
    margin-bottom: 40px;
  }
}

.types__img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
