.video {
  text-align: center;
  padding-top: 120px;
  background-color: $background_video;
  position: relative;
  height: 706px;

  @media (max-width: $desktop-width) {
    padding-top: 70px;
    height: 413px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 84px;
    height: 384px;
  }
}

.video__title {
  @include text(30px, 30px, 600);
  letter-spacing: -0.005em;
  color: $basic_white;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: $desktop-width) {
    @include text(24px, 30px, 600);
  }
}

.video__description {
  @include text(16px, 28px, 300);
  letter-spacing: -0.005em;
  color: $medium_grey;
  width: 340px;
  @include push--auto;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $desktop-width) {
    width: 429px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.video__pic {
  @include pseudo($display: block, $pos: relative, $content: "");
  bottom: -56px;

  @media (max-width: $desktop-width) {
    bottom: -40px;
  }

  @media (max-width: $tablet-width) {
    bottom: -53px;
  }
}

.video__button {
  @include pseudo($display: block, $pos: absolute, $content: "");
  background-color: transparent;
  border: none;
  right: 46%;
  top: 43%;

  @media (max-width: $desktop-width) {
    right: 43%;
    top: 33%;
  }

  @media (max-width: $tablet-width) {
    right: 37%;
    top: 29%;
  }
}

.video__play {
  @media (max-width: $desktop-width) {
    width: 91px;
    height: 91px;
  }

  @media (max-width: $tablet-width) {
    width: 65px;
    height: 65px;
  }
}
