// colors
$basic_color: #0ad9c6;
$basic_white: #ffffff;
$basic_black: #000000;
$medium_black: rgba(0, 0, 0, 0.5);
$light_black: rgba(0, 0, 0, 0.7);
$form_text: rgba(28, 28, 28, 0.5);
$medium_black: #48494d;
$border_color: #c9ccd4;
$background_color: #f6f7f9;
$background_mobile: #f6f6f6;
$background_video: #131314;
$basic_grey: #1f1f1f;
$grey: rgba(255, 255, 255, 0.2);
$medium_grey: rgba(255, 255, 255, 0.7);
$light_grey: rgba(255, 255, 255, 0.8);
$close_button: rgba(20, 21, 23, 0.2);
$arrow_color: rgba(44, 46, 63, 0.5);
// fonts
$main-font:"Open Sans", "Arial", sans-serif;
// Viewports
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1023px;
